// Input
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="password"] {
  font-family: Verdana, sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  line-height: 0;
  font-weight: 900;
}

.input-block,
.textarea-block,
.select-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-label,
.textarea-label,
.select-label {
  margin-bottom: 5px;

  &.error {
    color: #d50000;
  }
}

.input {
  width: 100%;
  height: 50px;
  border: 2px solid #bbc2cc;
  border-radius: 100px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  background: transparent;
  color: #fff;
  padding: 0 20px;
  margin: 0;
  transition: all, .25s;
  -webkit-tap-highlight-color: transparent;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: #bbc2cc;
  }

  &:focus, &:focus-visible {
    outline: none;
    border: 2px solid #fff;
  }

  &.error {
    border: 2px solid #d50000;
    color: #d50000;

    &:focus, &:focus-visible {
      outline: none;
    }
  }
}

.input-error,
.textarea-error,
.select-error {
  margin-top: 5px;
  color: #d50000;
}

.textarea {
  padding: 16px 20px;
  border-radius: 20px;
  height: 100px;
  resize: none;
  font-family: 'Comfortaa', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #bbc2cc;
  border: 2px solid #D4D2CD;
}

.select {
  width: 100%;
  height: 50px;

  .el-input__wrapper {
    height: 50px;
    box-shadow: none !important;
    background: transparent;
    border: 2px solid #D4D2CD;
    border-radius: 100px;
    padding: 0 20px;

    .el-input__inner {
      font-family: 'Comfortaa', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: #bbc2cc;
    }

    .el-select__caret {
      color: #bbc2cc;
      font-size: 22px;
    }
  }

  .el-input.is-focus .el-input__wrapper,
  .el-input__wrapper.is-focus {
    box-shadow: none !important;
  }
}

// Checkbox
.checkbox-block {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  width: 18px;
  height: 18px;
  background: transparent;
  border: 2px solid #D4D2CD;
  border-radius: 4px;
  -webkit-tap-highlight-color: transparent;
  transition: all, .25s;

  &.checked {
    background: darken(#bbc2cc, 7%);
    border: 2px solid darken(#bbc2cc, 7%);
  }
}

.checkbox-text {
  margin-left: 8px;
}
