$primary-text-color: #e4e6eb;
$secondary-text-color: #bbc2cc;
$hover-text-color: #af0404;

$primary-bg-color: #18191a;
$secondary-bg-color: #242526;
$code-bg-color: #3a3b3c;

$red: #d50000;
$green: #228B22;

$primary-font-family: 'Nunito', sans-serif;
$secondary-font-family: 'Saira', sans-serif;
